:root {
  --backgroundColor: lightyellow;
  --linkColor: green;
  --white: white;
  --darkLinkColor: #28cf75;
  --darkBackgroundColor: #363c48;
}

body {
  background-color: var(--backgroundColor);
}

a {
  color: var(--linkColor);
}

body.dark-mode {
  background: var(--darkBackgroundColor);
  color: var(--white);
}

.dark-mode blockquote {
  color: var(--white);
  border-left-color: var(--white);
  opacity: 0.8;
}

.dark-mode a {
  color: var(--darkLinkColor);
}
